<div class="jumbotron mt-5">
  <h2 class="heading">Filtra noticias por pais y categoria</h2>
  <div class="row mt-3">
    <div class="col-lg-8 offset-lg-2">
      <form (ngSubmit)="buscarNoticia()">
        <div>
          <select class="form-select form-control-lg" name="categoria" [(ngModel)]="categoriaSeleccionada">
            <option *ngFor="let categoria of categorias" [value]="categoria.value">{{categoria.nombre}}</option>
          </select>
        </div>
        <div>
          <select class="form-select form-control-lg" name="pais" [(ngModel)]="paisSeleccionado">
            <option *ngFor="let pais of paises" [value]="pais.value">{{pais.nombre}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-lg">Buscar</button>
      </form>
    </div>
  </div>
</div>
