.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #353536;
  border-radius: .3rem;
}

.heading{
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.btn{
  font-size: 1.5rem;
  width: 100%;
  margin-top: 10px;
}

select {
  margin-bottom: 20px;
}
